<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Custom Icon Banners</title>
    <link rel="stylesheet" href="css/global-style.css" />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="banner banner-success">
      <span class="banner-icon material-symbols-outlined"> check </span>
      <div class="banner-text">
        Success notification and confirmation of an action that has been taken
      </div>
    </div>
    <div class="banner banner-warning">
      <span class="banner-icon material-symbols-outlined"> warning </span>
      <div class="banner-text">
        Warning notification and important alerts even though it's not an error
      </div>
    </div>
    <div class="banner banner-danger">
      <span class="banner-icon material-symbols-outlined"> crisis_alert </span>
      <div class="banner-text">
        An error occured and requires your attention
      </div>
    </div>
    <div class="banner banner-info">
      <span class="banner-icon material-symbols-outlined"> info </span>
      <div class="banner-text">Informational notification and helpful tips</div>
    </div>
    <div class="banner">
      <span class="banner-icon material-symbols-outlined"> question_mark </span>
      <div class="banner-text">Default or unexpected action</div>
    </div>
  </body>
</html>
